<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white;" href="https://github.com/Lusan7729/First-proyect-Angular" target="blank"><strong>{{title}}</strong></a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-light btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<br>

<section class="container mt-8">
  <hr>
  <h1 class="text-center">Prueba Databinding</h1>
  <hr>

<div class="row text-center">
  <div class="col-md-6">
    <h3>La suma de 20 + 80 = {{GetSuma(20,80)}}</h3>
  </div>
  <div class="col-md-6">
    <h3>La resta de 20 - 80 = {{GetResta(20,80)}}</h3>
  </div>
</div>


<hr>
<h1 class="text-center">Prueba Property Binding and Data Binding</h1>
<hr>

<div class="row">
  <div class="col-md-6">

    <h4>Input con Cuenta atras...</h4>

    <label for="Algo">Escriba algo en el primer texto:</label>
    <input class="form-control" type="text" [placeholder]="EscribaAlgo" [disabled]="desabilitado" [(ngModel)]="text1">
    <span><small>{{textInput}}{{num}}</small></span>

    <br>

    <label for="Algo">Escriba algo en el segundo texto:</label>
    <input class="form-control" type="text" [placeholder]="EscribaAlgo" [disabled]="desabilitado" [(ngModel)]="text2">
    <span><small>{{textInput}}{{num}}</small></span>

  </div>

  <div class="col-md-6 text-center">
    <h4>Button using Databinding</h4>

    <p>{{text1}}</p>

    <button class="btn btn-primary" (click)="IntercambiarTextos()">Intercambiar textos</button>
    <br><br>
    <p>{{text2}}</p>
    <br><br>
  </div>
</div>

<hr>
<h1 class="text-center">Uso de la Directiva *ngFor, *ngIf, ngClass</h1>
<hr>

<div>
  <h3>Tabla de Estudiantes</h3> 
  <button class="btn btn-info ml-auto" (click)="Mostrar()">Mostrar Estudiantes</button>
  <br><br>
  <table class="table table-bordered table-hover text-center" *ngIf="MostrarEstudiantes">
    <thead class="bg-dark" style="color:white;">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Calificacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of ListaEstudiantes; let i = index">
        <td>{{i+1}}</td>
        <td>{{student.Nombre}}</td>
        <td>{{student.Apellido}}</td>
        <td>
          <span [ngClass]="student.NotaFinal >= 80 ? 'badge bg-success' : 'badge bg-danger' ">{{student.NotaFinal}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</section>
<br><br>