<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white;" href="https://github.com/Lusan7729/First-proyect-Angular" target="blank"><strong>{{title}}</strong></a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-light btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<br>

<section class="container-fluid">

  <h1 class="text-center">Prueba Databinding</h1>
  <hr>

<div class="row text-center">
  <div class="col-md-6">
    <h3>La suma de 20 + 80 = {{GetSuma(20,80)}}</h3>
  </div>
  <div class="col-md-6">
    <h3>La resta de 20 - 80 = {{GetResta(20,80)}}</h3>
  </div>
</div>

<br>

<h1 class="text-center">Prueba Property Binding</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <label for="Algo">Escriba algo:</label>
    <input class="form-control" type="text" id="Algo" [placeholder]="EscribaAlgo" [disabled]="desabilitado">
    <span><small>Este input estará habilitado en {{CuentaAtras3}}</small></span>
  </div>

  <div class="col-md-6">
  </div>
</div>
</section>